torch
torchvision
torchaudio

opencv-python

xformers

# for efficient video reading and processing (used by sam2)
decord

pytorch-lightning

# efficiently reading and processing large-scale datasets (for 4D-Humans)
webdataset

scikit-image

PyOpenGL-accelerate

# speeds up the process of compiling C++ extensions (for nvdiffrast)
ninja

diffusers
accelerate
transformers
peft

# for DWPose
controlnet-aux
onnxruntime-gpu
openmim
mediapipe

# For training and use 8-bit Adam as Optimizer
bitsandbytes

mlflow
h5py

gputil